<div class="flex items-center justify-between p-4 bg-gray-200 shadow-md">
    <div class="flex items-center">
      <div class="relative w-24 h-10 overflow-hidden">
        <img class="absolute inset-0 w-full h-full object-contain grayscale" 
             src="https://fyleuniverse.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F983632c5-ee66-4f64-a1a6-b3eeff04ddb8%2F55f4207f-d3c8-4afd-8ee9-b26f45484ecf%2Ffyle_login_logo.png?table=block&id=091d1fad-48d9-4c6a-9de0-c02465cc640a&spaceId=983632c5-ee66-4f64-a1a6-b3eeff04ddb8&width=250&userId=&cache=v2" 
             alt="Logo">
      </div>
      <p style="margin-bottom: 0;" class="ml-4 text-xl">Health Challenge Tracker</p>
    </div>
</div>